{
    "twinfield": {
        "user": "",
        "pass": "",
        "organisation": "",
        "office": ""
    },
    "influxdb": {
        "host": "localhost",
        "port": 8086,
        "user": "",
        "pass": "",
        "database": "twinfield"
    }
}
